<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/masterlayout.html}">

<body>

<th:block layout:fragment="content">
    <h1>Adding new account types</h1>
    <div  style="margin: auto;width:80%;text-align: left;">
        <!--/*@thymesVar id="customer" type="aj"*/-->
        <form action="#" th:action="@{/account/save}"  th:object="${account}"  method="post">

            <input type="hidden" th:field="*{existingCustomerId}"name ="existingCustomerId"/>
            <div class="form-row">
                <!--                    Start of input components-->
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"
                          class="alert alert-danger"></span>
                    Account Number: <br>
                    <input text="date" th:field="*{accountNumber}" name="accountNumber" class="form-control" required
                           placeholder="Account Number">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}"
                          class="alert alert-danger"></span>
                    Initial Balance: <br>
                    <input type="text" th:field="*{balance}" name="balance" class="form-control" required
                           placeholder="Balance">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('accountTypeId')}" th:errors="*{accountTypeId}"
                          class="alert alert-danger"></span>
                    Account type: <br>
                    <div class="form-group blu-margin">
                        <select class="form-control" th:field="*{accountTypeId}"  id="dropOperator">
                            <option value="0">Select Account Type</option>
                            <option th:each="type : ${accountTypes}" th:value="${type.accountTypeId}" th:text="${type.accountTypeName}"></option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save new Account</button>
            </div>


        </form>
    </div>
</th:block>
<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>